<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="myProvider" value="System.Data.SqlClient" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="BDActivo" value="0" />
  </appSettings>
  <system.web>
    <sessionState timeout="360" mode="InProc" />
    <httpRuntime maxRequestLength="3145728" executionTimeout="10000" />
    <globalization uiCulture="es" culture="es-MX" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTHUser" loginUrl="Formularios/Login.aspx" protection="All" slidingExpiration="true" timeout="360" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>

    <!--<customErrors mode="On" defaultRedirect="/Formularios/frmErrores.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="/Formularios/frmErrores.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>-->
	  <customErrors mode="Off" ></customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Bootstrap.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Lax" />
  </system.web>
  <connectionStrings>

	  <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=LEADERWAY_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />-->

	  <!--<add name="conn1" connectionString="Data Source=174.142.204.103,1433;Initial Catalog=OMNIUM_IMMEX;User ID=sa;Password=.aF*SU,Z+AHh4iA" providerName="System.Data.SqlClient"/>-->


	  <!--<add name="conn1" connectionString="Data Source=174.142.204.100,1433;Initial Catalog=ANTOLINTOLUCA_IMMEX_RESPALDO;User ID=VUCEM;Password=Lmorante01" providerName="System.Data.SqlClient" />-->
    
    
    <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=MOLEX_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />
    <add name="conn2" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=MOLEX_MEX_GDL_II_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />
    <add name="conn3" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=OMNI_MANUFACTURING_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />
    <add name="conn4" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MOLEX_NOGALES_IMMEX;User ID=Mahle;Password=Mahle01" providerName="System.Data.SqlClient" />-->


	  <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=ADIENT_MEXAUTOMOTRIZ_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />-->

	<!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=ERICSSON_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />-->
	  
    <add name="conn1" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MOLEX_NOGALES_IMMEX;User ID=Mahle;Password=Mahle01" providerName="System.Data.SqlClient"/>
    
    
    <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=CWBEARING_IMMEX;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient" />-->


	  <!--
    <add name="conn1" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_IMMEX_2019;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn2" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_AFTER_MARKET_IMMEX;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn3" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLECOMPONENTES_IMMEX_2019;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn4" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLEMEXICO_IMMEX_2022_22032023;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn5" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_JUAREZ_IMMEX_solo2022;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn6" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_JUAREZ_MCO_IMMEX;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn7" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_MBM_IMMEX_2023;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn8" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_SERVICE_IMMEX;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />
    <add name="conn9" connectionString="Data Source=174.142.204.105,1443;Initial Catalog=MAHLE_MBQRO_IMMEX_2024;User ID=MAHLE;Password=Mahle01" providerName="System.Data.SqlClient" />    
    -->
      
    <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=MAGNA_IMMEX_HERMOSILLO;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conn2" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=MAGNA_IMMEX_QUERETARO;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="conn1" connectionString="Data Source=184.107.73.107,1433;Initial Catalog=MAGNA_IMMEX_CELAYA;User ID=sa;Password=2610Camila#24" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conn4" connectionString="Data Source=174.142.204.101,443;Initial Catalog=NATIONALMATERIAL_IMMEX_2;User ID=Mahle;Password=Mahle01" providerName="System.Data.SqlClient"/>-->
	  
    <!--<add name="conn1" connectionString="Data Source=198.72.111.165,1910;Initial Catalog=SAMSUNG_IMMEX;User ID=Prasad;Password=c0merc102020.." providerName="System.Data.SqlClient"/>-->
    
    
  
  </connectionStrings>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="Permissions-Policy" value="geolocation=(self), microphone=(), camera=()" />
        <!--<add name="Content-Security-Policy" value="frame-ancestors script-src 'self';" />-->
      </customHeaders>
    </httpProtocol>    
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="MetropolisBlue" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" checkReferencesToExternalScripts="false" protectControlState="true" bootstrapMode="Bootstrap3" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>